#us-map{
  display: flex;
  position: relative;
  top: 100;
  left: 50;
  width: 100%;
  height: 100%;
}

/*When the user hovers over the state, it will become shaded*/
path:hover, circle:hover {
  stroke: #1200fd !important; /* border of state */
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #75A1DA !important; /* fill of state */
  cursor: default; /* pointer? */
}

/* The border separating Alaska and Hawaii */
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important; /* grey */
  cursor: default;
}

/* Top menu bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Dropdown menu bar */

.nav-link {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover {
    background-color: red;
    color: white;
}

.navbar .show {
    background-color: red;
    color: white;
}
 
/* Search box for searching by SERFF # */
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}

input[type=text]:focus {
    width: 100%;
}

/* Info box that pops up when user hovers over state */
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #48EFE0;
  border-radius: 5px;
  padding: 5px;
}
html, body {
    height: 100%;
}
.container {
    height: 100%;
    padding-top: 25px;
}
.row {
    height: 100%;
}

.link-button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.drop-body {
    width: 100%;
}


@media (min-width: 768px) {
    .container { width: 750px; } 
}
@media (min-width: 992px) {
    .container { width: 970px; } 
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
}

