<!DOCTYPE html>
<html ng-app="JARVIS">

<head>
  <meta charset="UTF-8">
  <title>US Map</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/style3.css">
</head>

<body ng-controller="myController">

  <div id="info-box"></div>
  <?xml version="1.0" encoding="utf-8"?>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse " ng-controller="navController">
    <a class="navbar-brand" href="/">JARVIS</a>
    <div class="collapse navbar-collapse">

      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories 
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li ng-repeat="choice in categories">
            <a class="dropdown-item" ng-click="getCategory('categories' + choice)">{{choice}}</a>
          </li>
        </ul>
      </div>

      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Programs
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdownMenuButton">
          <li ng-repeat="choice in programs">
            <a class="dropdown-item" ng-click="getProgram('programs-' + choice)">{{choice}}</a>
          </li>
        </ul>
      </div>
      <div class="nav-item nav-link" ng-click="showGlossary('glossary')">Glossary
      </div>

      <form class="form-inline nav-item">
        <input class="form-control mr-sm-2" type="text" placeholder="Search By SERFF" id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="getSERFF()">Search</button>
      </form>
    </div>
  </nav>

  <main class="container">
    <br></br>
    <div>
      <div id="main-header" ng-show="state!='program' && state!='category' && state!='glossary' && state!='serff'">
        <h1>Welcome to JARVIS!</h1>
        <div class="row">
          <p>This application allows you to view Telematics Program and UBI category information by state. To begin, select
            a UBI category or Telematics Program to view from the navigation bar at the top of the page. Some programs and
            categories provide additional information that you can filter your selection by. If you would like to view more
            information regarding the different programs or terms used within this application, please consult the glossary
            included.
          </p>
        </div>
      </div>

      <div id="category-header" ng-show="state==='category'" ng-click="getCategory('categories' + category)">
        <h1>Category {{category}}</h1>
      </div>

      <div>
        <h1 id="program-header" ng-show="state==='program'" ng-click="getProgram('programs-' +program)">Program: {{program}}</h1>
      </div>

      <div id="serff-header" ng-show="state==='serff'">
        <h1>SERFF: {{serff}}</h1>
      </div>
      <div class="row justify-content-center">


        <div id="category-items" ng-show="state==='category'" class="btn-toolbar col col-lg-2" role="toolbar" aria-label="Toolbar with buttons to query category information">
          <div class="btn-group-vertical" role="group" aria-label="Category Filters">
            <button type="button" class="btn btn-info" ng-click="getCategory('cat' +category+ '-algorithm')">Algorithm Restiction</button>
            <button type="button" class="btn btn-info" ng-click="getCategory('cat' +category+ '-tech')">Technology Restriction</button>
            <button type="button" class="btn btn-info" ng-click="getCategory('cat' +category+ '-tc')">Terms/Conditions Filed</button>
            <button type="button" class="btn btn-info" ng-click="getCategory('cat' +category+ '-vendor')">Vendor Change</button>
            <div class="dropdown drop-body">
              <button class="btn btn-info dropdown-toggle" type="button" id="stateSelector" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Select a State
              </button>
              <div class="dropdown-menu state-dropdown" aria-labelledby="dropdownMenuButton">
                <option ng-repeat="state in states" class="dropdown-item">{{state.id}}</option>
              </div>
            </div>
          </div>
        </div>


        <div id="program-items" ng-show="state==='program' && program!='RightTrack'" class="btn-toolbar col col-lg-2" role="toolbar"
          aria-label="Toolbar with buttons to query program information">
          <div class="btn-group-vertical" role="group" aria-label="Program Filters">
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/past')">Past Release</button>
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/future')">Future Release</button>

            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/10')" ng-show='program==="VED"'>10% State</button>
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/transition')" ng-show='program==="VED"'>Will transition to 10%</button>

            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/multi')" ng-show="program==='TBYB'">Multi-Tech Effective</button>

            <div class="dropdown drop-body">
              <button class="btn btn-info dropdown-toggle" type="button" id="stateSelector" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Select a State
              </button>
              <div class="dropdown-menu state-dropdown" aria-labelledby="dropdownMenuButton">
                <option class="dropdown-item" ng-repeat="state in states">{{state.id}}</option>
              </div>
            </div>
          </div>
        </div>

        <div id="rightTrack-items" ng-show="state==='program' && program==='RightTrack'" class="btn-toolbar col col-lg-2" role="toolbar"
          aria-label="Toolbar with buttons to query RightTrack program information">
          <div class="btn-group-vertical" role="group" aria-label "Right Track Filters">
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/plPast')">Past PL Release</button>
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/plFuture')">Future PL Release</button>
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/sfPast')">Past Safeco Release</button>
            <button type="button" class="btn btn-info" ng-click="getProgram('programs-' +program+ '/sfFuture')">Future Safeco Release</button>

            <div class="dropdown drop-body">
              <button class="btn btn-info dropdown-toggle" type="button" id="stateSelector" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Select a State
              </button>
              <div class="dropdown-menu state-dropdown" aria-labelledby="dropdownMenuButton">
                <option class="dropdown-item" ng-repeat="state in states">{{state.id}}</option>
              </div>
            </div>
          </div>
        </div>

        <div id="modal-container"></div>
        <div id="map-container" ng-show="state==='program' || state==='category' || state==='serff'" class="col col-lg-9">
          <svg width="100%" height="100%" xlmns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xlmns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="us-map" preserveAspectRatio="xMinYMin meet"
            sodipodi:docname="Republican_Party_presidential_primaries_results,_2016.svg" inkscape:version="0.91 r13725" x="0px"
            y="0px" viewBox="174 100 959 593" enable-background="new 174 100 959 593" xml:space="preserve">

            <sodipodi:namedview bordercolor="#666666" objecttolerance="10" pagecolor="#ffffff" borderopacity="1" gridtolerance="10" guidetolerance="10"
              inkscape:cx="509.19152" inkscape:cy="282.2353" inkscape:zoom="1.2137643" showgrid="false" id="namedview71" inkscape:current-layer="g5"
              inkscape:window-maximized="1" inkscape:window-y="-8" inkscape:window-x="-8" inkscape:pageopacity="0" inkscape:window-height="1017"
              inkscape:window-width="1920" inkscape:pageshadow="2">
            </sodipodi:namedview>
            <g id="g5">
          </svg>
        </div>
      </div>
    </div>

    <div ng-show="state==='glossary'">
      <h1>Glossary</h1>
      <div class="row justify-content-center">
        <table class="table" id="table1">
        </table>
        <table class="table" id="table2">
        </table>
      </div>
    </div>

  </main>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script src="javascripts/category.js"></script>
  <script src="javascripts/glossary.js"></script>
  <script src="javascripts/app.js" type="text/javascript"></script>

</body>

</html>